<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.webServer>
        <rewrite>
          <rules>
            <rule name="Rewrite to public request to profile page">
              <match url="^([_0-9a-z-]+)" />
              <action type="Rewrite" url="profile_static.html" />
            </rule>
          </rules>
        </rewrite>
    </system.webServer>
</configuration>